
UE3 - Développement d’application mobile cross plate-forme/C#/Exercices/VisualStudio/HelloWorld/.vs/HelloWorld/v15/Server/sqlite3/db.lock
.vs/slnx.sqlite
UE3 - Développement d’application mobile cross plate-forme/C#/Exercices/VisualStudio/Calculs/.vs/Calculs/v15/Server/sqlite3/db.lock
